microservice-chart:
  namespace: "qi"
  nameOverride: ""
  fullnameOverride: "pagopa-accounting-reconciliation-bdi-ingestion"
  image:
    repository: pagopapcommonacr.azurecr.io/pagopaaccountingreconciliationbdiingestion
    tag: "latest"
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 60
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weuprod.qi.internal.platform.pagopa.it"
    path: /pagopa-accounting-reconciliation-bdi-ingestion/(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: "qi-workload-identity"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "300m"
    limits:
      memory: "512Mi"
      cpu: "300m"
  autoscaling:
    enable: false
    minReplica: 1
    maxReplica: 1
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  terminationGracePeriodSeconds: 30
  strategy:
    type: "RollingUpdate"
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  envConfig:
    ROOT_LOGGING_LEVEL: "info"
    OTEL_SERVICE_NAME: "pagopa-accounting-reconciliation-bdi-ingestion"
    OTEL_SERVICE_ENVIRONMENT: "prod"
    OTEL_RESOURCE_ATTRIBUTES: "deployment.environment=prod"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.otel.svc:4317"
    OTEL_EXPORTER_OTLP_PROTOCOL: grpc
    OTEL_TRACES_EXPORTER: otlp
    OTEL_METRICS_EXPORTER: otlp
    OTEL_LOGS_EXPORTER: otlp
    OTEL_TRACES_SAMPLER: "always_on"
    DATA_INGESTION_JOB_EXECUTION_CRON: "* 0 12 * * *"
  envSecret:
    OTEL_EXPORTER_OTLP_HEADERS: elastic-otel-token-header
  keyvault:
    name: "pagopa-p-qi-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  azure:
    workloadIdentityClientId: "317af93b-1bf8-43fb-998a-4e58eafc53c8"
