microservice-chart:
  namespace: "qi"
  nameOverride: ""
  fullnameOverride: "pagopa-accounting-reconciliation-bdi-ingestion"
  image:
    repository: pagopapcommonacr.azurecr.io/pagopaaccountingreconciliationbdiingestion
    tag: "1.4.0"
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 80
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 80
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weuprod.qi.internal.platform.pagopa.it"
    path: /pagopa-accounting-reconciliation-bdi-ingestion/(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: "qi-workload-identity"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "500m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  autoscaling:
    enable: false
    minReplica: 1
    maxReplica: 1
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  terminationGracePeriodSeconds: 30
  strategy:
    type: "RollingUpdate"
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  secretProviderClass:
    create: true
  envConfig:
    ROOT_LOGGING_LEVEL: "info"
    APP_LOGGING_LEVEL: "info"
    WEB_LOGGING_LEVEL: "info"
    NETTY_TCP_SSL_PROVIDER_LOGGING_LEVEL: "info"
    NETTY_HANDLER_SSL_LOGGING_LEVEL: "info"
    OTEL_SERVICE_NAME: "pagopa-accounting-reconciliation-bdi-ingestion"
    OTEL_SERVICE_ENVIRONMENT: "prod"
    OTEL_RESOURCE_ATTRIBUTES: "deployment.environment=prod"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_EXPORTER_OTLP_PROTOCOL: grpc
    OTEL_TRACES_EXPORTER: otlp
    OTEL_METRICS_EXPORTER: otlp
    OTEL_LOGS_EXPORTER: otlp
    OTEL_TRACES_SAMPLER: "always_on"
    BDI_SERVER_URI: "https://scambioflussi.bancaditalia.it/a2a/download/tesoreria"
    BDI_SERVER_READ_TIMEOUT_MILLIS: "10000"
    BDI_SERVER_CONNECTION_TIMEOUT_MILLIS: "10000"
    ACCOUNTING_DATA_INGESTION_JOB_EXECUTION_CRON: "-"
    ACCOUNTING_DATA_INGESTION_JOB_RETRIES: "3"
    ACCOUNTING_DATA_INGESTION_JOB_MIN_BACKOFF_SECONDS: "5"
    ACCOUNTING_DATA_INGESTION_JOB_UNZIP_CONCURRENCY: "2"
    ACCOUNTING_DATA_INGESTION_JOB_UNZIP_FILES_BUFFER_SIZE: "10"
    ACCOUNTING_DATA_INGESTION_JOB_PARSING_CONCURRENCY: "5"
    MATCHING_JOB_EXECUTION_CRON: "*/10 * * * * *"
    MATCHING_JOB_EXECUTION_RETRIES: "1"
    MATCHING_JOB_EXECUTION_MIN_BACKOFF_SECONDS: "15"
    MATCHING_JOB_TIMEOUT: "10"
    MATCHING_JOB_BDI_TIMESHIFT: "7d"
    MATCHING_JOB_FDR_TIMESHIFT: "7d"
    MATCHING_JOB_QUERY_CAUSALE_REGEX: ".*/(.*)"
    MATCHING_JOB_DATABASE: re
    MATCHING_JOB_DATABASE_TABLE_BDI: ACCOUNTING_DATA_BDI
    MATCHING_JOB_DATABASE_TABLE_FDR: FLUSSI_RENDICONTAZIONE
    MATCHING_JOB_DATABASE_TABLE_MATCHING: MATCHING_FDR_BDI
    MATCHING_JOB_MATHING_TIMESHIFT: "14d"
    BDI_CERTIFICATE_PATH: /mnt/secrets-store/bdi-accounting-reconciliation-platform-pagopa-it
    AZURE_DATA_EXPLORER_DOMAIN: pagopapdataexplorer.westeurope.kusto.windows.net
    AZURE_DATA_EXPLORER_DATABASE: re
    AZURE_DATA_EXPLORER_DATABASE_TABLE: ACCOUNTING_DATA_BDI
    MONGO_HOST: pagopa-p-weu-qi-cosmos-account.mongo.cosmos.azure.com
    MONGO_USERNAME: pagopa-p-weu-qi-cosmos-account
    MONGO_PORT: "10255"
    MONGO_SSL_ENABLED: "true"
    MONGO_DB_NAME: "accounting-reconciliation"
    MONGO_MIN_POOL_SIZE: "0"
    MONGO_MAX_POOL_SIZE: "50"
    MONGO_MAX_IDLE_TIMEOUT_MS: "600000"
    MONGO_CONNECTION_TIMEOUT_MS: "2000"
    MONGO_SOCKET_TIMEOUT_MS: "10000"
    MONGO_SERVER_SELECTION_TIMEOUT_MS: "2000"
    MONGO_WAITING_QUEUE_MS: "2000"
    MONGO_HEARTBEAT_FREQUENCY_MS: "5000"
    MONGO_REPLICA_SET_OPTION: "&replicaSet=globaldb"
  envSecret:
    BDI_CERTIFICATE: bdi-accounting-reconciliation-platform-pagopa-it
    MONGO_PASSWORD: mongo-qi-password
  keyvault:
    name: "pagopa-p-qi-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  azure:
    workloadIdentityClientId: "317af93b-1bf8-43fb-998a-4e58eafc53c8"
